<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1"   >

	
	
	<listeners>
        <listener class-name="retry.DsAlgoTransformer"/>
        <listener class-name="retry.ExtentScreeShotListener"/>
        
  	</listeners>
	<test  name="TestChrome"  >
		<parameter name="browser" value="chrome" />
		<classes>	

			<class name="tests.LoginTesCases"></class>
			<class name="tests.HomeTestCases"></class>
			<class name="tests.DSIntroTestCases"></class>
			<class name="tests.ArraysTestCases"></class>
			<class name="tests.LinkedListCases"></class>
			<class name="tests.StackTestcases"></class>
			<class name="tests.QueueTestcases"></class>
			<class name="tests.TreeTestCases"></class>
			<class name="tests.GraphTestCases"></class>
			
			
			
		</classes>	
		</test>		
		
	

</suite>


